html {
  height: 100%;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(0, 0, 69), black); /* Standard syntax (must be last) */
}

body {
  margin: 100px;
  font-family: 'Vollkorn', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Vollkorn', serif;
}

